.assetstyle input {
  width: 70% !important;
  padding: 0px 2px;
  margin: 0px 0;
  box-sizing: border-box;
  border: none;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  height: 34px !important;
}

.assetstyle label {
  font-size: 14px !important;
  font-weight: bold !important;
  text-align: left !important;
  margin-top: 7px !important;
}
.assettabpadding {
  width: 75vw;
}
.assetmaindivpadding {
  margin-top: 5% !important;
}
.dfs-personalinfotxt {
  text-align: center;
}
.rightdiv {
  width: 60vw !important;
  height: auto;
}
.MuiTypography-body1 {
  font-size: 1.3rem !important;
}

.text-4xl {
  color: #206fb7;
}

.dfs-applynow select {
  all: unset;
  padding-right: 19px;
  border: 1px solid #ccc;
  background-size: 16px;
  font-size: 13px !important;
  width: 70%;
  height: 19px !important;
}
.dfs-applynow label {
  font-size: 14px !important;
  font-weight: bold !important;
  text-align: left !important;
}
.dfs-personalinfotxt h5 {
  margin-top: 7% !important;
}

button:focus {
  outline: 0 !important;
}

.savebtn {
  position: absolute;
  left: 75% !important;
  margin-top: 8% !important;
}
.savebtnnext {
  position: absolute;
  right: 75% !important;
  margin-top: 8% !important;
}

.savebtnnext1 {
  position: absolute;
  left: 35% !important;
  margin-top: 8% !important;
}

.dfs-savebtn {
  padding: 5px;
  background-color: #00abc9;
  color: #ffff;
  border-radius: 5px;
  outline: none !important;
  font-size: 1.7rem;
  width: 180px;
  height: 40px;
  float: right;
  font-family: Montserrat;
}
.next aBtn {
  padding: 5px;
  background-color: #00abc9;
  color: #ffff;
  border-radius: 5px;
  outline: none !important;
  font-size: 1.7rem;
  width: 180px;
  height: 40px;
  font-family: Montserrat;
}

.dfs-next {
  padding: 5px;
  background-color: #00abc9;
  color: #ffff;
  border-radius: 5px;
  outline: none !important;
  font-size: 1.7rem;
  width: 180px;
  height: 40px;

  font-family: Montserrat;
}

.b-backbtn {
  padding: 5px 10px;
  background-color: #00abc9;
  color: #ffff;
  border-radius: 5px;
  outline: none !important;
  font-size: 12px;
  width: 30%;
  font-family: Montserrat;
  background-color: #ffff !important;
  font-weight: bold !important;
}
.b-savebtn {
  padding: 5px 10px;
  background-color: #00abc9;
  color: #ffff;
  border-radius: 5px;
  outline: none !important;
  font-size: 12px;
  width: 30%;

  font-family: Montserrat;
}

.backandsavebtn {
  margin-top: 9% !important;
  margin-left: 15% !important;
}

.e-nextbtn {
  float: right;
  position: absolute;
  left: 80%;
  margin-top: 3%;
  outline-color: none;
  color: blue;
  background-color: #ffff !important;
  font-weight: bold !important;
}
.loan-acceptance-txt {
  text-align: center;
}
.previous aBtn {
  background-color: #ffff;
  font-weight: bold;
  position: absolute;
  margin-top: 10%;
}
.dfs-allpadding {
  margin: 5% 5%;
}

.sidebar_white_left {
  fill: rgba(255, 255, 255, 1);
  font-size: 2rem !important;
  float: left;
}
.sidebar_white_left {
  filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.161));
  position: relative;
  overflow: visible;
  width: 18vw;
  height: 80vh;
  left: 0px;
  top: 15rem;
  background-color: white;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 1.9rem;
  float: left;
}

/* .sidebar_white_right {
  fill: rgba(255, 255, 255, 1);
  font-size: 3rem !important;
  float: right;
} */
.sidebar_white_right {
  filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.161));
  position: relative;
  overflow: visible;
  width: 78vw;

  height: auto;
  left: 0px;
  top: 15rem;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1.9rem;
  float: right;
  padding-right: 5vw !important;
  margin-right: 5vh !important;
}

.aBtn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.aBtn:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #206fb7;
  color: white;
  float: left;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.next {
  background-color: #206fb7;
  color: white;
  float: right;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 5px;
}

.round {
  border-radius: 50%;
}

.dfstable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.dfstable td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dfstable tr:nth-child(even) {
  background-color: #dddddd;
}

.inner {
  display: inline-block;
}

.wizard-box {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:first-child {
  background: #2dbe9d;
  padding: 15px;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #2dbe9d;
}

.MuiTypography-body1 {
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}
/*
.dfs-savebtn { 
  -webkit-appearance: none;
  border: 0;
  outline: 0; 
  position: relative;
  background: linear-gradient(45deg, #009688 10%, #a83279 90%);
  background-size: 200% 100%;
  color: #ffffff;
  font-size: 1.3rem;
  transition: 0.3s;
}
.dfs-savebtn:hover {
  animation: bruh 3s linear infinite;
}

@keyframes bruh {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
*/
.save-container {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header-title {
  position: absolute;
  background: #ffffff;
  width: 400px;
  top: -75px;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: -1;
  text-align: center;
  right: -16px;
}
.sevenpage .agent-assetdetails {
  margin: 0 0 20px 0 !important;
}
ul.nav.navbar-nav.navbar-right {
  margin-top: 15px;
}
.col-sm-3 {
  margin-bottom: 20px;
  min-height: 85px;
}

.field-seprator {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
.browsertxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0 25px;
  height: 120px;
  margin-bottom: 30px;
}
/*  step-wizard
=================================*/
body {
  background-color: #ffffff;
}
.breadcrumb-pagination {
  width: 100%;
  border-bottom: 1px solid #e1e6eb;
  text-align: center;
  float: left;
  color: #b3b7c1;
  margin: 20px auto;
}

.breadcrumb-pagination div {
  width: 16.66%;
  display: inline-block;
}

.breadcrumb-pagination div span {
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding: 6px 0 0 0px;
  font-size: 20px;
}

.completed span {
  background-color: NONE;
  color: #00911e;
  border: 2px solid #00911e;
}

.active span {
  border: 2px solid #24c1e8;
}
.active i.glyphicon-briefcase {
  color: #24c1e8;
}

.text-4xl {
  color: #24c1e8;
}

.todo span {
  background-color: none;
  color: #e1e6eb;
  border: 2px solid #e1e6eb;
}

.breadcrumb-pagination div p {
  text-align: center;
  line-height: 0;
  margin: 30px auto 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.active p {
  border-bottom: 2px solid #00abc9;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  color: #3c4043;
  font-weight: 700;
}

.completed p {
  border-bottom: 2px solid #00abc9;
  padding-bottom: 27px;
  margin-bottom: 0px !important;
  color: #3c4043;
  font-weight: 700;
}

.todo span {
  border-bottom: 2px solid #00abc9;
}

.completed span::before {
  content: "\2713";
}
.agent-lablestyle select {
  all: unset;
  border: 2px solid #24c1e8;
  background: url(/static/media/selectdropdown-blue.bb915eca.png) no-repeat 95%;
  background-size: 16px;
  font-size: 14px;
  width: calc(100%);
  /* width: calc(100% - 40px); */
  height: 3.5rem !important;
  line-height: 30px;
  /* text-align: right !important;
  direction: rtl; */
  border-radius: 4px !important;
  padding-right: 5rem;
  box-sizing: border-box;
}
.agent-loan-info{
  text-align: center;
  min-height: 5rem;
}
.complete-body{
  display: flex;
  flex-direction: column;

}
.complete-body > div {
  flex:1;
  display:flex;
justify-content: center;
}.agent-lablestyle.shadow input {
  background-color: #838383;
}
.shadow {
  background-color: #838383;
}
.agent-lablestyle label {
  font-size: 1.2rem;
  color: black;
  font-weight: 600 !important;
  /* padding-right: 40px; */
  /* direction: rtl */
}
/* input {
  text-align: right !important;
} */
.agent-lablestyle input {
  width: 100% !important;
  padding: 0px 2px;
  margin: 0px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px !important;
  height: 26px !important;
  /* direction: rtl; */
}