.rcw-launcher{
    background-color: #004c90;
}
.rcw-conversation-container > .rcw-header {
    background-color: #004c90;
  }
   
  .rcw-conversation-container .rcw-title{
      color:#ffff;
  }