.sectioncls
{
    border: 1px solid;
    padding: 0px !important;

}
.msgdetails_heading
{
    font-size: 14px;
    border-bottom: 1px solid;
    padding: 10px 15px;
}
.requestclose
{
    padding:51px 0px;
}