section.loyaltyContainer {}
.loyaltyItems{
    background-color: #ffff;
     content: "";
    -moz-box-shadow: 0 9px 9px 0 #ccc;
    -webkit-box-shadow: 0 9px 9px 0 #ccc;
    box-shadow: 0 9px 9px 0 #ccc;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loyaltyItemContent{
text-align: center;
}

.userImage{
    max-width: 100px;
}
.sliderItems{
    height:200px
}
@media only screen and (min-width: 768px) {
    section.loyaltyContainer {
     padding-top:156px ;
    }
  }

  @media only screen and (max-width: 400px) {
    section.loyaltyContainer {
     padding-top: 0px ;
    }
  }